[Unit]
Description=Rota wallpaper cada 20 minutos

[Timer]
OnBootSec=20min
OnUnitActiveSec=20min
Persistent=false
AccuracySec=10s

[Install]
WantedBy=timers.target
